{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center mt-3">
  <div class="col-md-10">
    {% if current_user.is_authenticated %}
    <div class="col-md-13 text-md-right mb-3">
      <a
        type="button"
        class="btn btn-outline-primary btn-sm"
        href="/writing/new"
      >
        + Question Paper
      </a>
    </div>
    {% endif %}
    <div class="card">
      <div class="card-header">
        <h5>New Speaking Question Paper</h5>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
