{% extends 'layout.html' %} {% block content %}
<div class="row justify-content-center mt-3 mb-3">
  <div class="col-md-10">
    <div class="card mb-3">
      <div class="card-body">
        New Writing Question Paper {% if current_user.is_authenticated %}
        <div class="text-right">
          <a
            type="button"
            class="btn btn-outline-primary btn-sm"
            href="/writing/new"
          >
            New Writing Question Paper
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    {% for writingpaper in writingpapers %}
    <div class="list-group">
      <a
        href="{{ url_for('show_writing', writing_id= writingpaper.id )}}"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ writingpaper.title }}</h5>
          <small
            >{{ writingpaper.wcreator.username }} - {{
            writingpaper.date_posted.strftime('%Y-%m-%d') }}</small
          >
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
